<li>
	<p>Name: {{dataValues.firstName}} {{dataValues.lastName}}</p>

    <p>Age: {{dataValues.age}}</p>

	<button class="change-vaccinated" data-id="{{dataValues.id}}" data-newvaccinated='0'>
		{{#if vaccinated}}Vaccinated{{else}}Unvaccinated{{/if}}
	</button>
</li>
