<link rel="stylesheet" href="/css/style.css">
<li id="patients">
	<p>{{firstName}} {{lastName}}</p>

	<p>{{age}}</p>

	<button class="change-vaccinated" data-id="{{id}}" data-newvaccinated="{{vaccinated}}">
		{{#if vaccinated}}Vaccinated{{else}}Unvaccinated{{/if}}
	</button>
</li>